extends ../layout
block content
    h1.
         #{title}
    ol
         each achievement, i in achievements
            li
                b 
                    i #{achievement.title}
                br
                | #{achievement.text}
                br
                | Rank: 
                b #{achievement.rank}
                br
                | Unlocked on:
                b #{achievement.date}
            p
        p
    p #{message}