extends ../layout

block content
    h1.
        id #{profile._id}
    p Name: #{profile.username}
    p Email: #{profile.email}
    p Password: #{profile.password}
    p DeviceId: #{profile.deviceId}